In [8]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [9]:
current_directory = os.getcwd()
df = pd.read_csv(f'{current_directory}\\Slidescope_Retail_Store_Sales_Enhanced_2025.csv')
df.head()

,Transaction_ID,Store_Region,Product_Category,Payment_Method,Customer_Type,Unit_Price,Items_Sold,Gross_Amount,Discount_Percent,Discount_Amount,Net_Sales_Amount,Average_Price_Per_Item,Effective_Discount_Per_Item
0,TXN1000,East,Grocery,Cash,New,321.44,9,2892.96,9.13,264.13,2628.83,292.09,29.35
1,TXN1001,West,Furniture,Wallet,Member,873.53,4,3494.12,17.01,594.35,2899.77,724.94,148.59
2,TXN1002,North,Apparel,Wallet,Guest,188.47,3,565.41,9.92,56.09,509.32,169.77,18.70
3,TXN1003,South,Furniture,Wallet,Guest,326.10,11,3587.10,10.01,359.07,3228.03,293.46,32.64
4,TXN1004,North,Electronics,Credit Card,New,356.04,17,6052.68,4.36,263.90,5788.78,340.52,15.52

In [10]:
df.describe()

,Unit_Price,Items_Sold,Gross_Amount,Discount_Percent,Discount_Amount,Net_Sales_Amount,Average_Price_Per_Item,Effective_Discount_Per_Item
count,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,527.03810,9.885000,5190.593150,14.412750,729.332600,4461.260550,450.466650,76.571450
std,278.78919,5.604357,4276.632012,8.164562,795.599511,3728.919282,242.626402,63.521031
min,54.87000,1.000000,90.550000,0.280000,8.490000,77.300000,44.800000,0.570000
25%,283.94750,5.000000,1736.782500,7.772500,140.380000,1421.535000,255.570000,21.847500
50%,530.09500,10.000000,3772.645000,13.735000,435.850000,3192.245000,437.645000,61.925000
75%,768.24000,15.000000,7773.060000,21.342500,1022.260000,6723.067500,652.840000,121.550000
max,989.05000,19.000000,17353.270000,29.760000,4426.400000,16008.390000,929.380000,265.780000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Transaction_ID               200 non-null    object
 1   Store_Region                 200 non-null    object
 2   Product_Category             200 non-null    object
 3   Payment_Method               200 non-null    object
 4   Customer_Type                200 non-null    object
 5   Unit_Price                   200 non-null    float64
 6   Items_Sold                   200 non-null    int64
 7   Gross_Amount                 200 non-null    float64
 8   Discount_Percent             200 non-null    float64
 9   Discount_Amount              200 non-null    float64
 10  Net_Sales_Amount             200 non-null    float64
 11  Average_Price_Per_Item       200 non-null    float64
 12  Effective_Discount_Per_Item  200 non-null    float64
dtypes: float64(7), int64(1), object(5)
memory usage: 20.4+ KB

In [12]:
df.isnull().sum()

Transaction_ID                 0
Store_Region                   0
Product_Category               0
Payment_Method                 0
Customer_Type                  0
Unit_Price                     0
Items_Sold                     0
Gross_Amount                   0
Discount_Percent               0
Discount_Amount                0
Net_Sales_Amount               0
Average_Price_Per_Item         0
Effective_Discount_Per_Item    0
dtype: int64